<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Seoul Stationery Journey | See Stationery Shop</title>

        <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Nanum+Myeongjo:wght@800&display=swap" rel="stylesheet">
    </head>
    <style>
        *{
            font-family: 'Nanum Myeongjo', serif;
        }
    </style>
    <body>
        <h1 class="title">Stationery Shops In Seoul
        <div>
        <span style="color:sandybrown">서울의 특색있는 문구점들을 확인해보세요!</span></h1>
        </div>
    </body>
</html>